<section class="p-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md">
                <div class="card mb-3 bg-info text-light" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="./uploads/<%= myfile %>" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><%= filename %></h5>
                          <p class="card-text"><%= description %></p>
                          <form action="/mail_form_sent" method="POST">
                            <div class="mb-3">
                              <input type="email" class="form-control" name="to" id="to" placeholder="To: name@example.com" required>
                              
                            </div>
                            <div class="mb-3">
                              
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="mb-3">
                              
                              <textarea class="form-control" name="body" placeholder="Body" id="body" rows="3" required></textarea>
                            </div>
                          
                            <input type="submit" class="form-control btn-success mb-1" value="Send">
                            <input type="hidden" name="file_id" value="<%= file_id %>">
                            <input type="hidden" name="filename" value="<%= filename %>">
                            <input type="hidden" name="description" value="<%= description %>">
                            <input type="hidden" name="myfile" value="<%= myfile %>">
                            <input type="hidden" name="downloads" value="1">
                            <input type="hidden" name="mails_sent" value="1">
                          </form>
                          <button class="form-control btn-primary mr-1"><a href="/dashboard" style="text-decoration: none;" class="text-light">Cancel</a></button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>